# Binarios y código objeto
*.o
solucion/bin
solucion/src/tp2
solucion/tools/tp2diff

# Output de los tests
solucion/data/test-in
solucion/tests/diferencia.bmp

# Sublime Text
*.sublime-project
*.sublime-workspace

# Eclipse
.project
.cproject