# Binarios y código objeto
*.o
solucion/bin
solucion/src/tp2
solucion/tools/tp2diff

# Output de los tests
solucion/data/test-in

# Output de LaTeX
informe/*.pdf
informe/*.aux
informe/*.log
informe/*.toc
informe/*.gz

# Sublime Text
*.sublime-project
*.sublime-workspace

# Eclipse
.project
.cproject

# BMPs de prueba en directorio src
solucion/src/*.bmp